openapi: 3.1.0
info:
  title: Code Ocean API
  version: v1
  description: >-
    The Code Ocean REST API provides programmatic access to the Code Ocean
    computational research platform. It is organized around REST, accepts and
    returns JSON-encoded request bodies and responses, and uses standard HTTP
    response codes, authentication, and verbs. The API lets you manage the three
    core Code Ocean resources — Capsules and Pipelines (reproducible compute
    environments), Computations (runs of those capsules/pipelines), and Data
    Assets (versioned datasets) — so you can automate reproducible research and
    data-analysis workflows end to end.
  contact:
    name: Code Ocean
    email: dev@codeocean.com
    url: https://docs.codeocean.com/user-guide/code-ocean-api
  license:
    name: Proprietary
  x-generated-by: API Evangelist enrichment pipeline (faithful to docs.codeocean.com)
servers:
  - url: https://codeocean.com/api/v1
    description: Code Ocean hosted cloud
  - url: https://{domain}/api/v1
    description: Code Ocean deployment (enterprise / VPC domain)
    variables:
      domain:
        default: codeocean.com
        description: Your Code Ocean deployment domain
security:
  - accessToken: []
tags:
  - name: Capsules
    description: Reproducible compute capsules and pipelines
  - name: Computations
    description: Runs of capsules and pipelines
  - name: Data Assets
    description: Versioned datasets and result data
  - name: Metadata
    description: Custom metadata configuration
paths:
  /capsules/{capsule_id}:
    get:
      operationId: getCapsule
      summary: Get capsule
      description: Retrieves metadata for a Capsule. Requires the Capsule Read scope.
      tags: [Capsules]
      parameters:
        - $ref: '#/components/parameters/CapsuleId'
      responses:
        '200':
          description: Capsule object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Capsule'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteCapsule
      summary: Delete capsule
      description: >-
        Deletes an archived capsule or pipeline. Returns 403 if the capsule is
        not archived, the user lacks permissions, or the capsule is released.
        Requires the Capsule Write scope.
      tags: [Capsules]
      parameters:
        - $ref: '#/components/parameters/CapsuleId'
      responses:
        '204': { description: Capsule deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /capsules/{capsule_id}/app_panel:
    get:
      operationId: getCapsuleAppPanel
      summary: Get capsule app panel
      description: Retrieves the app panel configuration for a Capsule. Requires the Capsule Read scope.
      tags: [Capsules]
      parameters:
        - $ref: '#/components/parameters/CapsuleId'
        - name: version
          in: query
          required: false
          schema: { type: integer }
      responses:
        '200':
          description: App panel object
          content:
            application/json:
              schema: { type: object }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /capsules/{capsule_id}/computations:
    get:
      operationId: listCapsuleComputations
      summary: List capsule computations
      description: Retrieves the Computations run from a Capsule. Requires the Capsule Read scope.
      tags: [Capsules]
      parameters:
        - $ref: '#/components/parameters/CapsuleId'
      responses:
        '200':
          description: List of computation objects
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Computation' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /capsules/{capsule_id}/data_assets:
    post:
      operationId: attachDataAssets
      summary: Attach data assets to a capsule
      description: Attaches data assets to a Capsule. Requires Capsule Read/Write and Data Asset Read/Write scopes.
      tags: [Capsules]
      parameters:
        - $ref: '#/components/parameters/CapsuleId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required: [id]
                properties:
                  id: { type: string }
                  mount: { type: string }
      responses:
        '200':
          description: List of data asset attach results
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string }
                    mount: { type: string }
                    ready: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      operationId: detachDataAssets
      summary: Detach data assets from a capsule
      description: Detaches data assets from a Capsule or Pipeline. Requires Capsule Read/Write and Data Asset Read/Write scopes.
      tags: [Capsules]
      parameters:
        - $ref: '#/components/parameters/CapsuleId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { type: string }
      responses:
        '204': { description: Data assets detached }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /capsules/{capsule_id}/archive:
    patch:
      operationId: archiveCapsule
      summary: Archive or unarchive a capsule
      description: Archives or unarchives a capsule or pipeline. Requires the Capsule Write scope.
      tags: [Capsules]
      parameters:
        - $ref: '#/components/parameters/CapsuleId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                archive: { type: boolean }
      responses:
        '204': { description: Archive state updated }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /capsules/{capsule_id}/sync:
    post:
      operationId: syncCapsuleGit
      summary: Git sync a capsule
      description: Performs a Git sync between a capsule and its external repository.
      tags: [Capsules]
      parameters:
        - $ref: '#/components/parameters/CapsuleId'
      responses:
        '200':
          description: Sync result
          content:
            application/json:
              schema:
                type: object
                properties:
                  pushed: { type: integer }
                  pulled: { type: integer }
                  new_branch: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /capsules/search:
    post:
      operationId: searchCapsules
      summary: Search capsules
      description: Searches Capsules in the deployment with filtering, sorting and cursor pagination.
      tags: [Capsules]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SearchParams' }
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SearchResults' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /pipelines/search:
    post:
      operationId: searchPipelines
      summary: Search pipelines
      description: Searches Pipelines in the deployment with filtering, sorting and cursor pagination.
      tags: [Capsules]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SearchParams' }
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SearchResults' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /computations:
    post:
      operationId: runCapsule
      summary: Run a capsule or pipeline
      description: >-
        Runs a Capsule or Pipeline, optionally attaching data assets and passing
        parameters. Returns the created Computation object. May return 429 when
        the Computation API is overloaded — back off before retrying.
      tags: [Computations]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RunParams' }
      responses:
        '200':
          description: Computation object
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Computation' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /computations/{computation_id}:
    get:
      operationId: getComputation
      summary: Get computation
      description: Retrieves information from a computational run.
      tags: [Computations]
      parameters:
        - $ref: '#/components/parameters/ComputationId'
      responses:
        '200':
          description: Computation object
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Computation' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: renameComputation
      summary: Rename computation
      description: Renames an existing computational run.
      tags: [Computations]
      parameters:
        - $ref: '#/components/parameters/ComputationId'
        - name: name
          in: query
          required: true
          schema: { type: string }
      responses:
        '204': { description: Computation renamed }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteComputation
      summary: Delete computation
      description: Deletes a computational run, stopping it first if it is running.
      tags: [Computations]
      parameters:
        - $ref: '#/components/parameters/ComputationId'
      responses:
        '204': { description: Computation deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /computations/{computation_id}/results:
    post:
      operationId: listComputationResults
      summary: List computation result files
      description: Lists the result files generated by a computation. An empty path returns the /results root.
      tags: [Computations]
      parameters:
        - $ref: '#/components/parameters/ComputationId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                path: { type: string }
      responses:
        '200':
          description: Folder listing
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Folder' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /computations/{computation_id}/results/urls:
    get:
      operationId: getResultFileURLs
      summary: Get result file URLs
      description: Generates signed download and view URLs for a computation result file.
      tags: [Computations]
      parameters:
        - $ref: '#/components/parameters/ComputationId'
        - name: path
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: File URLs
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FileURLs' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /data_assets:
    post:
      operationId: createDataAsset
      summary: Create data asset
      description: Creates a Data Asset from an S3 bucket or from a computation's results.
      tags: [Data Assets]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DataAssetParams' }
      responses:
        '200':
          description: Data asset object
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DataAsset' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /data_assets/{data_asset_id}:
    get:
      operationId: getDataAsset
      summary: Get data asset
      description: Retrieves metadata for a specific Data Asset.
      tags: [Data Assets]
      parameters:
        - $ref: '#/components/parameters/DataAssetId'
      responses:
        '200':
          description: Data asset object
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DataAsset' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      operationId: updateDataAssetMetadata
      summary: Update data asset metadata
      description: Updates a Data Asset's name, description, tags, mount and custom metadata.
      tags: [Data Assets]
      parameters:
        - $ref: '#/components/parameters/DataAssetId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, description, tags, mount]
              properties:
                name: { type: string }
                description: { type: string }
                tags:
                  type: array
                  items: { type: string }
                mount: { type: string }
                custom_metadata: { type: object }
      responses:
        '200':
          description: Data asset object
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DataAsset' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: deleteDataAsset
      summary: Delete data asset
      description: Deletes a Data Asset.
      tags: [Data Assets]
      parameters:
        - $ref: '#/components/parameters/DataAssetId'
      responses:
        '204': { description: Data asset deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /data_assets/{data_asset_id}/archive:
    patch:
      operationId: archiveDataAsset
      summary: Archive or unarchive a data asset
      description: Archives or unarchives a Data Asset.
      tags: [Data Assets]
      parameters:
        - $ref: '#/components/parameters/DataAssetId'
        - name: archive
          in: query
          required: true
          schema: { type: boolean }
      responses:
        '204': { description: Archive state updated }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /data_assets/search:
    post:
      operationId: searchDataAssets
      summary: Search data assets
      description: Searches Data Assets with filtering, sorting and cursor pagination.
      tags: [Data Assets]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SearchParams' }
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SearchResults' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /data_assets/{data_asset_id}/permissions:
    post:
      operationId: updateDataAssetPermissions
      summary: Update data asset permissions
      description: Updates user, group and everyone access permissions for a Data Asset.
      tags: [Data Assets]
      parameters:
        - $ref: '#/components/parameters/DataAssetId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [users, groups, everyone]
              properties:
                users:
                  type: array
                  items: { type: object }
                groups:
                  type: array
                  items: { type: object }
                everyone: { type: string }
                share_assets: { type: boolean }
      responses:
        '204': { description: Permissions updated }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /data_assets/{data_asset_id}/transfer:
    post:
      operationId: transferDataAsset
      summary: Transfer data asset
      description: Admin-only. Transfers a Data Asset's files to a different S3 storage location.
      tags: [Data Assets]
      parameters:
        - $ref: '#/components/parameters/DataAssetId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target:
                  type: object
                  properties:
                    aws:
                      type: object
                      properties:
                        bucket: { type: string }
                        prefix: { type: string }
                force: { type: boolean }
      responses:
        '200': { description: Transfer started }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /data_assets/{data_asset_id}/files:
    post:
      operationId: listDataAssetFiles
      summary: List data asset files
      description: Lists files internal to a Data Asset, optionally under a folder path.
      tags: [Data Assets]
      parameters:
        - $ref: '#/components/parameters/DataAssetId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                path: { type: string }
      responses:
        '200':
          description: Folder listing
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Folder' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /data_assets/{data_asset_id}/files/urls:
    get:
      operationId: getDataAssetFileURLs
      summary: Get data asset file URLs
      description: Generates signed download and view URLs for a file within a Data Asset.
      tags: [Data Assets]
      parameters:
        - $ref: '#/components/parameters/DataAssetId'
        - name: path
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: File URLs
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FileURLs' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
components:
  securitySchemes:
    accessToken:
      type: http
      scheme: basic
      description: >-
        HTTP Basic authentication. Provide your Code Ocean access token (prefix
        `cop_`) as the basic-auth username with an empty password, e.g.
        `-u "cop_xxxxxxxxxx:"`.
  parameters:
    CapsuleId:
      name: capsule_id
      in: path
      required: true
      description: The unique identifier of the capsule or pipeline.
      schema: { type: string }
      example: 4bc97533-6eb4-48ac-966f-648548a756d2
    ComputationId:
      name: computation_id
      in: path
      required: true
      description: The unique identifier of the computation.
      schema: { type: string }
    DataAssetId:
      name: data_asset_id
      in: path
      required: true
      description: The unique identifier of the data asset.
      schema: { type: string }
  responses:
    BadRequest:
      description: The request was unacceptable (missing/invalid parameter).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: No valid access token provided.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: The access token doesn't have permission to perform the request.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: The requested resource doesn't exist.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    TooManyRequests:
      description: Too many requests — back off before retrying.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  schemas:
    Error:
      type: object
      properties:
        message: { type: string, description: Human-readable error message }
    Capsule:
      type: object
      description: A reproducible compute capsule or pipeline.
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: string }
        owner: { type: string }
        slug: { type: string }
        created: { type: integer, description: Unix timestamp }
        status: { type: string }
        cloned_from_url: { type: string }
        field: { type: string }
    Computation:
      type: object
      description: A run of a capsule or pipeline.
      properties:
        id: { type: string }
        name: { type: string }
        created: { type: integer }
        owner: { type: string }
        run_time: { type: integer }
        state: { type: string, enum: [initializing, running, finalizing, completed, failed] }
        end_status: { type: string }
        exit_code: { type: integer }
        has_results: { type: boolean }
        parameters:
          type: array
          items: { type: object }
        data_assets:
          type: array
          items: { type: object }
    DataAsset:
      type: object
      description: A versioned dataset or captured result data.
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: string }
        created: { type: integer }
        type: { type: string, enum: [dataset, result] }
        mount: { type: string }
        state: { type: string }
        tags:
          type: array
          items: { type: string }
        custom_metadata: { type: object }
    RunParams:
      type: object
      description: Parameters for running a capsule or pipeline.
      properties:
        capsule_id: { type: string }
        pipeline_id: { type: string }
        data_assets:
          type: array
          items: { type: object }
        parameters:
          type: array
          items: { type: string }
        named_parameters:
          type: array
          items: { type: object }
        processes:
          type: array
          items: { type: object }
        nextflow_profile: { type: string }
    DataAssetParams:
      type: object
      description: Parameters for creating a data asset.
      required: [name, mount, tags, source]
      properties:
        name: { type: string }
        description: { type: string }
        mount: { type: string }
        tags:
          type: array
          items: { type: string }
        source: { type: object }
    SearchParams:
      type: object
      description: Search request with filtering, sorting and cursor pagination.
      properties:
        offset: { type: integer }
        limit: { type: integer }
        next_token: { type: string }
        sort_order: { type: string, enum: [asc, desc] }
        sort_field: { type: string }
        query: { type: string }
        ownership: { type: string }
        status: { type: string }
        type: { type: string }
        origin: { type: string }
        favorite: { type: boolean }
        archived: { type: boolean }
        filters:
          type: array
          items: { type: object }
    SearchResults:
      type: object
      description: Cursor-paginated search results.
      properties:
        has_more: { type: boolean }
        next_token: { type: string }
        results:
          type: array
          items: { type: object }
    Folder:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              path: { type: string }
              size: { type: integer }
              type: { type: string, enum: [file, folder] }
    FileURLs:
      type: object
      properties:
        download_url: { type: string }
        view_url: { type: string }
